<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
</head>
<body>
	<div th:insert="common/sourceList::sourceList"></div>
	
	<div class="container-fluid">
		<h2>ログイン</h2>
		<div class="alert alert-danger d-flex align-items-center" role="alert" th:if="${isError}">
			<span th:text="${errorMsg}"></span>
		</div>
		<form th:action="@{/geek/login}" method="post" th:object="${loginForm}">
			<div class="form-group">
				<div class="col-4 col-md-2 col-xxl-2">
					<p><label for="email">メールアドレス</label>
					<input class="form-control" type="text" th:field="*{email}">
				</div>
				<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				<div class="col-4 col-md-2 col-xxl-2">
					<p><label for="password">パスワード</label>
					<input class="form-control" type="password" th:field="*{password}">
				</div>
				<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				<p><input class="btn btn-primary" type="submit" value="ログイン">
			</div>
		</form>
		
	</div>
</body>
</html>