<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録画面</title>
</head>
<body>
	<div th:insert="common/sourceList::sourceList"></div>
	<div th:replace="common/header::header"></div>
	
	<div class="container-fluid">
		<h2>新規登録</h2>
		<div class="alert d-flex align-items-center" th:classappend="|${isError?'alert-danger':'alert-primary'}|" role="alert" th:if="${message!= null}">
			<span th:text="${message}"></span>
		</div>
		<form th:action="@{/geek/signup}" method="post" th:object="${signupForm}">
			<div class="form-group">
				<div class="col-4 col-md-2 col-xxl-2">
					<p><label for="storeId">店舗名</label>
					<input class="form-control" type="text" th:field="*{storeId}">
				</div>
				<span class="text-danger" th:if="${#fields.hasErrors('storeId')}" th:errors="*{storeId}"></span>
				<div class="col-4 col-md-2 col-xxl-2">
					<label for="firstName">姓</label>
					<input class="form-control" type="text" th:field="*{firstName}">
				</div>
				<span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
				<div class="col-4 col-md-2 col-xxl-2">
					<p><label for="lastName">名</label>
					<input class="form-control" type="text" th:field="*{lastName}">
				</div>
				<span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
				<div class="col-4 col-md-2 col-xxl-2">
					<p><label for="email">メールアドレス</label>
					<input class="form-control" type="text" th:field="*{email}">
				</div>
				<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				<div class="col-4 col-md-2 col-xxl-2">
					<p><label for="password">パスワード</label>
					<input class="form-control" type="password" th:field="*{password}">
				</div>
				<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				<div class="col-4 col-md-2 col-xxl-2">
					<p><label for="phone">電話番号</label>
					<input class="form-control" type="text" th:field="*{phone}">
				</div>
				<span class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
				<div class="col-4 col-md-2 col-xxl-2">
					<p><label for="roleId">役職</label>
					<input class="form-control" type="text" th:field="*{roleId}">
				</div>
				<span class="text-danger" th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}"></span>
				<div class="col-4 col-md-2 col-xxl-2">
					<p><label for="permissionId">権限</label>
					<input class="form-control" type="text" th:field="*{permissionId}">
				</div>
				<span class="text-danger" th:if="${#fields.hasErrors('permissionId')}" th:errors="*{permissionId}"></span>
				<div>
					<p><input class="btn btn-primary" type="submit" value="ユーザー登録">
				</div>
			</div>	
		</form>
		<a th:href="@{/geek/users}">▶ユーザー管理へ戻る︎</a>
	</div>
</body>
</html>